* {
    box-sizing: border-box;
}

body, #app {
    color: #ffffff;
    background-color: #000000;
    padding: 0;
    margin: 0;
}
aside {
    border-left: 1px solid #111111;
}

header, footer {
    padding: 1em;
    background-color: #000000;
    color: #ff9000;
}

header {
    text-align: right;
    border-bottom: 1px solid #333533;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #333533;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2,h3,h4, h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
h3 a{
    text-decoration: none;
}
p {
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.item {
    clear: left;
    padding: 0.5em 0;
}


/*new*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff9000;
    border-radius: 5px;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    padding:14px 16px;
    font-size: 30px;
    font-family:sans-serif;
    background-color: #ff9000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;

  }
  li a:hover {
    background-color: #d38013;
  }

.search_bar{
    margin-right: 20px;
}
.search_bar input[type="text"]{
    width: 200px;
    height: 30px;

}
#stuff {
    font-size: 15px;
  }
.Homepage {
    display: flex;
  align-items: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#app{
    border: 1px solid #ff9000;
    border-radius: 3em;
    margin:1px;
    max-width: 1000px;
    width: 100%;
    padding: 1em;
    position: relative;
}

#login {
    position:absolute;top:0;right:0;
    width: 61px;
    border-radius: 5px;
    color: #ffffff;
    background-color:#ff9000;
    transition: 0.7s;
}
#sign_up{
    position:absolute;top:32px;right:0;
    border-radius: 5px;
    color: #ffffff;
}

button{
    background-color: #ff9000;
    color: #000000;
    height: 30px;
    border-radius: 5px;
}

/* culb.css*/
.club_env{
    flex:1;
    width: 200px;
}
a{
    color: #ff9000;
}
.club_logo{
    width:75px; height: 75px;
    border-radius:200px;
};
.club_h3{
    flex:1;
    margin: 1px 1px 10px 1px;
}
/*event*/
.details{
    display: flex;
}
.event_env{
    width: 200px;
    margin-left: auto;

}
/*admin*/
.table{
    width:400px;
    height:360px;
}
.td{
    border: 0px
}
#table_div{
    display: flex;
}

/*album*/
.album{
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.album img{
    display:inline-block;
    height: 200px;
    margin-right: 10px;
    vertical-align: top;
}