#first-2{
    border: 1px solid #fdc42a;
    margin:2px;
    margin-bottom: 50px;
}
#last {
    border: 1px solid #fdc42a;
    margin:2px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;

}
#app{
    border: 5px solid #fdc42a;
    margin:1px;
    max-width: 800px;
    width: 100%;
    padding: 20px;
}
#client{
    display:flex;
}
#icon{
    border-radius: 500px;
    width:90px;
    height: 90px;
}
h3{
    padding-left: 20px;
}